html {
	font-family: calibri;
	background:
        url("fond.png") center;
	background-attachment:fixed;
}

h1 {
	margin-left: 20px;
}

a {
	text-decoration:none;
}

aside {
	text-align: center;
    background-color: #E3D1B5;
    width: 25%;
    margin: 20px 2.5%;
    display: inline-block;
    vertical-align: top;
}

article {
    text-align: justify;
    width: 50%;
    margin: 0 7.5%;
    display: inline-block;
    vertical-align: middle;
}

header li {
	background: #E3D1B5;
    display: inline;
    border: 2px solid black;
    border-bottom: none;
    padding: 3px 15px;
}

header li:hover {
	background: #EEE3D2;
}

header ul {
    position: absolute;
    bottom: 0;
    margin-bottom: 3px;
}

header {
    height: 120px;
    position: relative;
    border: 2px solid black;
    background:
        url("banner2.png") right;
    margin-top: 20px;
	
}

header a {
    color: black;
}

body {
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    width: 50%;
}

header img {
    float: left;
}

section#corps {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
}

footer li {
    display: table-cell;
    border: 1px black solid;
    padding: 0 10px;
}

footer ul {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
}

h2 {
    font-size: 120%;
	margin-left: -20px;
}

aside h2 {
	margin-left: 0px;
}
