@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu {
  background: #E3D1B5;
  width: auto;
  border: 2px solid black;
  border-top: none;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #ffffff;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ffffff;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
  
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}

html {
	font-family: 'Open Sans', sans-serif;
	background:
        url("fond.png") center;
	background-attachment:fixed;
	font-size: 85%;
}

h1 {
	margin-left: 20px;
}

a {
	text-decoration:none;
}

aside {
	text-align: center;
    background-color: #E3D1B5;
    width: 25%;
    margin: 20px 2.5%;
    display: inline-block;
    vertical-align: top;
}

article {
    text-align: justify;
    width: 50%;
    margin: 0 7.5%;
    display: inline-block;
    vertical-align: middle;
}

header {
    height: 120px;
    position: relative;
    border: 2px solid black;
    background:
        url("banner.png") right;
    margin-top: 20px;
	
}

body {
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    width: 50%;
}

header img {
    float: left;
}

section#corps {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
}

footer li {
    display: table-cell;
    border: 1px black solid;
    padding: 0 10px;
}

footer ul {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
}

h2 {
    font-size: 120%;
	margin-left: -20px;
}

aside h2 {
	margin-left: 0px;
}

input {
	margin-top:-10px; 
	margin-bottom:-10px;
	margin-right:-10px;
	margin-left:10px;
}

div.img {
    margin: 20px 5px;
    float: left;
    width: 30.8%;
}


div.img img {
    width: 100%;
    height: auto;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

div.img:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

div.desc {
    padding: 5px;
    text-align: center;
	font-size:100%;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #E3D1B5;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.float_center {
  float: right;
  clear: both;
  position: relative;
  left: -50%;
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}

.papertable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-mon-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.papertable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.papertable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.papertable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.papertable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.papertable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.papertable tr:hover td{
	
}
.papertable tr:nth-child(odd){ background-color:#fff2df; }
.papertable tr:nth-child(even)    { background-color:#ffffff; }.papertable td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:15px;
	color:#000000;
}.papertable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.papertable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.papertable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.papertable tr:first-child td{
		background:-o-linear-gradient(bottom, #e3d1b5 5%, #e3d1b5 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3d1b5), color-stop(1, #e3d1b5) );
	background:-moz-linear-gradient( center top, #e3d1b5 5%, #e3d1b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3d1b5", endColorstr="#e3d1b5");	background: -o-linear-gradient(top,#e3d1b5,e3d1b5);

	background-color:#e3d1b5;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
}
.papertable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #e3d1b5 5%, #e3d1b5 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3d1b5), color-stop(1, #e3d1b5) );
	background:-moz-linear-gradient( center top, #e3d1b5 5%, #e3d1b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3d1b5", endColorstr="#e3d1b5");	background: -o-linear-gradient(top,#e3d1b5,e3d1b5);

	background-color:#e3d1b5;
}
.papertable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.papertable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#plusminus {
    text-align: center;
}
.button {
    text-align: center;
	width:25px;
	height:25px;
	margin-right:10px;
}
input.buttonplus { width:25px; height:25px; margin:0px 5px 10px 5px;}
input.buttonminus { width:25px; height:25px; margin:11px 5px 0px 5px;}
